*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  height: 100vh;
  position: relative;
 }

 .map {
  height: 100%;
 }

 .search-bar {
   position: absolute;
   top: 15px;
   right: 10px;
 }

 .content-list {
  position: absolute;
  top: 50px;
}