.search-bar {
  display: flex;
}

.search-bar input {
  border: 0;
  border-radius: 4px 0 0 4px;
  box-shadow: 2px 2px 4px rgba(36, 36, 36, 0.363);
  font-size: 1.2em;
}

.search-bar button {
  padding: 1.2em;
  border: 0;
  border-radius: 0 4px 4px 0;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, rgb(97, 26, 211) 0%, #B721FF 100%);
  color: white;
  box-shadow: 2px 2px 4px rgba(36, 36, 36, 0.363);
}

.search-bar__icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  background: no-repeat center/100% url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='35' height='35' fill='white'><path d='M31.008 27.231l-7.58-6.447c-0.784-0.705-1.622-1.029-2.299-0.998 1.789-2.096 2.87-4.815 2.87-7.787 0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12c2.972 0 5.691-1.081 7.787-2.87-0.031 0.677 0.293 1.515 0.998 2.299l6.447 7.58c1.104 1.226 2.907 1.33 4.007 0.23s0.997-2.903-0.23-4.007zM12 20c-4.418 0-8-3.582-8-8s3.582-8 8-8 8 3.582 8 8-3.582 8-8 8z'></path></svg>");
}
